# Global owners
* @lorenzo

# Backend implementations
src/openssl/ @lorenzo
src/*/ @lorenzo

# Documentation
*.md @lorenzo
.github/ @lorenzo

# Integration tests
test/ @lorenzo
src/integration/ @lorenzo

# Build configuration
CMakeLists.txt @lorenzo
src/CMakeLists.txt @lorenzo
