[submodule "src/third_party/cargs"]
	path = src/third_party/cargs
	url = https://github.com/likle/cargs
[submodule "src/third_party/picohttpparser"]
	path = src/third_party/picohttpparser
	url = https://github.com/h2o/picohttpparser
[submodule "src/third_party/munit"]
	path = src/third_party/munit
	url = https://github.com/nemequ/munit
